<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listing Details</title>
  </head>
  <body>
    <h1><%= listing.name %></h1>
    <h2>Latitude: <%= listing.latitude %></h2>
    <h2>Longitude: <%= listing.longitude %></h2>
    <% if( listing.role === 'a') {%>
    <p><a href="/listing/<%=listing.id%>/edit">Edit</a></p>
    <p>
    <form action="/listing/<%=listing.id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </p>
    <% } %>
    <footer>
        <a href="/listing">All Listings</a>
    </footer>
  </body>
</html>
